@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNSAxMS41TDExLjUgMkwxLjUgMC41TDIuNSAxbDcuNSA3LjVMMi41IDE2TDEuNSAxMS41WiIgZmlsbD0id2hpdGUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMSIgLz4KPC9zdmc+Cg=="),
    auto; */
  cursor: url("../arrow.jpg"), auto;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, background-color 0.3s ease, width 0.3s ease,
    height 0.3s ease;
  z-index: 9999;
}

.custom-cursor-hover {
  background-color: red; /* Change color on hover */
  width: 30px; /* Increase size on hover */
  height: 30px; /* Increase size on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.users-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.user-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid black;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.containerrr {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-containerrr {
  margin-bottom: 10px;
}

.input-fielddd {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-add,
.btn-get {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-get {
  background-color: #28a745;
}

.btn-add:hover,
.btn-get:hover {
  opacity: 0.8;
}

.input-containere {
  display: flex;
  align-items: center;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.input-fielde {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.arrow-containere {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-icon {
  cursor: pointer;
  margin: 3px;
}
